html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* everything in the header STARTS here */

.background {
  width: 100%;
  height: 100vh;
}
#nav_bar {
  height: 10%;
  display: flex;
  align-items: center;
}
#logo {
  margin-left: 2.5rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform ease 0.5s;
}
#logo:hover {
  transform: translateY(-5px);
}

#heading {
  color: black;
  width: 100%;
  text-align: left;
  font-size: 3.5rem;
  margin-left: 2.5rem;
}

/* STYLE FOR ABOUT */

.article {
  font-size: 3rem;
  max-width: 50%;
}
img {
  background-size: cover;
  background-position: right;
  max-width: 100%;
  height: 50vh;
}

#join {
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem;*/
  margin-right: 1rem;
  text-decoration: none;

  display: inline-block;
  padding: 0.2rem 2.5rem 0.2rem 2.5rem;
  background: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  border-radius: 5rem;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
#join:hover {
  transform: scale(1.1);
  color: white;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.7);
}
